div {
    display: inline-block;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0 0 5px;
}

table {
    border-spacing: 0px;
    border-bottom: 3px solid rgb(1, 165, 132);
}

th {
    background-color: rgb(1, 165, 132);
    color: white;
    text-align: left;
}

th:first-child {
    border-radius: 5px 0px 0px 0px;
}

th:last-child {
    border-radius: 0px 5px 0px 0px;
}

td {
    background-color: white;
}

td,th {
    padding: 10px;
}

tr:nth-child(odd) td {
    background-color: rgb(243, 243, 243);
    color: rgb(1, 165, 132);
    font-weight: bold;
    border-top: 2px solid rgb(225, 225, 225);
    border-bottom: 2px solid rgb(225, 225, 225);

}